<a href="https://colab.research.google.com/github/raushanrk5/Revising-Python/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics**

In [ ]:
print('Hello World')

Hello World

## ***Variables***

In [ ]:
a = 5
b = 8
print('Sum = ', a+b, 'Product = ', a*b)

Sum =  13 Product =  40

## ***Data Types***
Number <br>
String <br>
List <br>
Dictionary <br>
Tuple <br>
Set <br>

### **Number**

In [ ]:
type(a)

int

In [ ]:
type(12.5)

float

In [ ]:
d = 10+5j    #a=5
print(type(d), a+d)

<class 'complex'> (15+5j)

In [ ]:
e = a>b    #a=5, b=8
e
type(e)

bool

### **String**

In [ ]:
str1 = 'Hello'
str2 = 'World'
name = 'Raushan Kumar'
str1+" "+str2

'Hello World'

In [ ]:
print(len(name), name.lower(), name.upper())

13 raushan kumar RAUSHAN KUMAR

In [ ]:
print(name[1], name[-1], name[1:-1])

a r aushan Kuma

In [ ]:
name[0] = r    #string is mutable

NameError: ignored

In [ ]:
name.capitalize()    #capitalize the first letter of each word
name

'Raushan Kumar'

In [ ]:
name.count('a')     #count the occurence of a specific leter

3

In [ ]:
print(name.isupper(), name.islower())        #check if the word is in uppercase, simmilarly for lowercase

False False

In [ ]:
name.insert(2,'t')         #we can't insert in a string object

AttributeError: ignored

In [ ]:
parts = name.split(' ')            #used to split the words on a given condition
parts

['Raushan', 'Kumar']

In [ ]:
parts[1].lower()[::-1]         #used to reverse a string, also using chaining here

'ramuk'

### **List**

In [ ]:
mylist = [10,12,'Ram', 'Shyam', 12, 'Mohan', 34]
mylist

[10, 12, 'Ram', 'Shyam', 12, 'Mohan', 34]

In [ ]:
print(mylist[2:5], mylist[-2], mylist[-2:-5:-1])

['Ram', 'Shyam', 12] Mohan ['Mohan', 12, 'Shyam']

In [ ]:
mylist[0] = 23
mylist

[23, 12, 'Ram', 'Shyam', 12, 'Mohan', 34]

In [ ]:
mylist.append('Ram')
mylist.insert(0,'Mohan')
mylist

['Mohan', 23, 12, 'Ram', 'Shyam', 12, 'Mohan', 34, 'Ram']

In [ ]:
mylist.extend([34,56,67])
mylist

['Mohan', 23, 12, 'Ram', 'Shyam', 12, 'Mohan', 34, 'Ram', 34, 56, 67]

In [ ]:
mylist.reverse()
mylist

[67, 56, 34, 'Ram', 34, 'Mohan', 12, 'Shyam', 'Ram', 12, 23, 'Mohan']

### **Dictionary**

In [ ]:
mydict = {'1':'1', 'name':'Raushan', 'age':20}
mydict

{'1': '1', 'age': 20, 'name': 'Raushan'}

In [ ]:
mydict['name']

'Raushan'

In [ ]:
mydict.get('name')          #we can use get function to accesss the elements

'Raushan'

In [ ]:
mydict['course'] = 'B.tech(cse)'
mydict['age'] = 21            #dictionary is mutable
mydict

{'1': '1', 'age': 21, 'course': 'B.tech(cse)', 'name': 'Raushan'}

In [ ]:
mydict.keys()                  #used to get the keys

dict_keys(['1', 'name', 'age', 'course'])

In [ ]:
mydict.values()                  #used to get the values

dict_values(['1', 'Raushan', 21, 'B.tech(cse)'])

In [ ]:
mydict.pop('1')            #it pops the given key-value pair and also return the value

'1'

### **Tuple**

In [ ]:
mytuple = (1,76,'Ram', True, 'Mohan', 56, 76)
mytuple

(1, 76, 'Ram', True, 'Mohan', 56, 76)

In [ ]:
mytuple.insert(45)              #we cannot insert value later in a tuple, and it is also immutable

AttributeError: ignored

In [ ]:
templist = list(mytuple)        #to insert value, we need to typecast it into a list, then insert and again typecast to tuple
templist.append(67)
mytuple = tuple(templist)
mytuple

(1, 76, 'Ram', True, 'Mohan', 56, 76, 67)

In [ ]:
print(mytuple[0],mytuple[1:5])            #we can do slicing using index and also access

1 (76, 'Ram', True, 'Mohan')

In [ ]:
mytuple.count(76)               #return the occurence of a given element

2

In [ ]:
mytuple.index(76)           #return the index of first occurence

1

### **Set**

In [ ]:
myset = {12,46,57,'Ram', 'mohan', 57, 'Ram'}          #set does not hold duplicate items
myset

{12, 46, 57, 'Ram', 'mohan'}

In [ ]:
myset[2]           #set doesn't support indexing

TypeError: ignored

In [ ]:
myset.pop()           #pops and returns the last element

12

## **Range** - is used to iterate through the elements

In [ ]:
range(0,10)        #it iterates from starting index to last index-1

range(0, 10)

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## We can create a list consisting other data types objects

In [ ]:
a = (12,3,45,'Ram')
b = {'1':'Ram', '2': 'Mohan'}
c = [a,b]
c     #c is list consisting of tuple and dictionary objects

[(12, 3, 45, 'Ram'), {'1': 'Ram', '2': 'Mohan'}]

## **TypeCasting**
Int() : Int() function take float or string as an argument and return int type object. <br>
Float() : float() function take int or string as an argument and return float type object. <br>
Str() : str() function take float or int as an argument and return string type object. <br>
List() : This function change any data type to list <br>
Tuple() : This function change any data type to tuple <br>
Set() : This function change any data type to set <br>
Dict() : This function change any data type to dictionary

In [ ]:
x = 10
y = 'Ram'
x+y

TypeError: ignored

In [ ]:
# here we neeed type casting to add diffeerent data types objects
y+str(x)

'Ram10'